<p id="notice"><%= notice %></p>

<p>
<%= image_tag(@store.avatar_url, :width => 200, :height => 200) if @store.avatar.present? %>
</p>
<p>
  <%= @store.name %>
</p>
<p>
  <%= @store.email %>
</p>
<p>
  <%= @store.phone %>
</p>

<p>
  <%= @store.address %>
</p>

<p>
  <% if user_signed_in? and current_user.store != nil %>
  <%= link_to 'Publicar Oferta' ,new_store_offer_path(@store) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
