<%- model_class = Store -%>
<div class="page-header">

</div>

<div class="container theme-showcase">
    <div>
      <div class="col-md-4  ">
        <div class="panel panel-default">
          <div class="panel-heading">
              <div class="panel-body roundgrey centertext">
                <figure>
                  <dd><%= image_tag(@store.avatar_url, :width => 200, :height => 200) if @store.avatar.present? %></dd>
                </figure>
                <dd><%= @store.name %></dd>
                <dd><%= @store.address %></dd>
                <dd><span class="glyphicon glyphicon-envelope"></span> <%= @store.email %></dd>
                <dd><span class="glyphicon glyphicon-phone-alt"></span> <%= @store.phone %></dd>
                <% if user_signed_in? and current_user.store.id == @store.id %>
                  <%= link_to '<span class="glyphicon glyphicon-plus"></span> Publicar Oferta'.html_safe ,new_store_offer_path(@store) %>
                  <br>
                  <% if @store.location == nil %>
                    <%= link_to '<span class="glyphicon glyphicon-globe"></span> Agregar en el mapa'.html_safe, new_store_location_path(@store) %>
                    <br>
                  <% end %>
                   <%= link_to'<span class="glyphicon glyphicon-pencil"></span> Editar perfil'.html_safe,edit_store_path(@store) %>
                   <br>
                  <%if @store.location != nil%>
                    <%= link_to '<span class="glyphicon glyphicon-flag"></span> Ver ubicacion'.html_safe,store_location_path(@store,@store.location.id) %>
                    <br>
                    <% end%>
                <% end %>
    
                <%= link_to t('.back', :default => t("helpers.links.back")),
                            stores_path, :class => 'btn'  %>
            </div> 
        </div>
      </div>
    </div>
    <div class="col-md-8">
    <% @offers.each do |offer| %>
          <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"> <%= offer.title %> </h2>
                </div>
                <div class="panel-body">
                    <div class="col-md-1"> 
                      <figure>
                        <%= image_tag(offer.picture_url, :width => 100, :height => 100) if offer.picture.present? %>
                      </figure>
                    </div>
                      <div >
                        <%= offer.description %>
                        <%= offer.valid_until %>
                      </div>
                </div>
              </div>
            </div>    
        <% end %>
    </div>
  </div>
</div>

