<div class="page-header">
  
</div>

<% @offers.each do |offer| %>
    <article class="col-md-5 col-md-offset-0.5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><%= offer.title %> </h4>
            </div>
            <div class="panel-body">
                    <div class="col-md-3"> 
                      <figure>

                          <%if offer.picture.present?  %>
                              <div style="text-align: center;"> 
                                  <%= image_tag(offer.picture_url, :width => 100, :height => 100) %>
                              </div>    
                          <% else %>
                              <div style="text-align: center;"> 
                                  <%= image_tag("comida.jpg", :width => 100, :height => 100) %>
                              </div>
                          <% end %>
                      </figure>
                    </div>
                    
                    <div class="col-md-9"> 
                    <div >
                        <%= offer.description %>
                        <br>
                        <h4 style="text-align:right"><%= offer.valid_until %></h4>
                    </div>
                    </div>
                </div>
                <div class="panel-body">
                    <%= link_to 'Ver mas',store_offer_path(offer.store_id,offer.id), :class => 'btn btn-primary'  %>
                    <%if user_signed_in? and current_user.store_id != nil%>
                        <% if current_user.store.id == offer.store_id %> 
                            <%= link_to 'Editar',edit_store_offer_path(offer.store_id,offer.id), :class => 'btn btn-primary'  %>
                        <% end %>
                    <% end %>
                </div>
            </div>    
  
        </div>
    </article>
<% end %>


