<div class="page-header">
  
</div>

<% @offers.each do |offer| %>
    <article class="col-md-5 col-md-offset-0.5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> > <%= offer.title %> </h4>
            </div>
            <div class="col-md-3">
            <br>
                <%= image_tag(offer.picture_url, :width => 150, :height => 150) if offer.picture.present? %>   
            </div>       
            <div class="col-md-9"> 
    
                <div class="panel-body">
                    <p>
                        <%=h truncate(offer.description, :length => 100) %>  
                    </p>
                </div>
                <div class="panel-body">
                    <p>
                        <%= offer.valid_until %>
                    </p> 
                </div> 
                <div class="panel-body">
                    <%= link_to 'Ver mas',store_offer_path(offer.store_id,offer.id), :class => 'btn btn-primary'  %>
                    <%if user_signed_in? and current_user.store_id != nil%>
                        <% if current_user.store.id == offer.store_id %> 
                            <%= link_to 'Editar',edit_store_offer_path(offer.store_id,offer.id), :class => 'btn btn-primary'  %>
                        <% end %>
                    <% end %>
                </div>
            </div>    
  
        </div>
    </article>
<% end %>


