<%= form_for([@store,@offer], :html => {:multipart => true}) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="page-header">
  
</div>
    <div class="container theme-showcase">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
              <div class="panel-body roundgrey centertext">
                <div style="text-align: center;"> 
                    <h2>Nueva Oferta</h2>
                </div>
                
                <hr>
                
                <div style="text-align: center;"> 
                    <div class="field">
                        <h4>Titulo</h4>
                        <%= f.text_field :title %>
                    </div>
                 </div>
                
                <hr>
                
                <div style="text-align: center;"> 
                    <div class="field">
                        <h4>Imagen</h4>
                        <%= f.file_field :picture %>
                    </div>
                 </div>
                
                <hr>

                <div style="text-align: center;"> 
                <div class="field">
                  <h4>Descripción</h4>
                  <%= f.text_area :description %>
                </div>
</div>
                
                <hr>

                <div style="text-align: center;">  
                <div class="field">
                  <h4>Valido Hasta</h4>
                  <%= f.datetime_select :valid_until %>
                </div>
                </div>
                
                <hr>

                <div style="text-align: center;">  
                <div class="actions">
                  <%= f.submit %>
                  <br>
                  <%= link_to 'Volver', store_offers_path(@store) %>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>         
<% end %>