<p id="notice"><%= notice %></p>

<div class="page-header">

</div>

<div class="container theme-showcase">
    <div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
              <div class="panel-body roundgrey centertext">
                <div class="img-circle">
                  <%if @store.avatar.present? %>
                      <div style="text-align: center;"> 
                          <%= image_tag(@store.avatar_url, :width => 100, :height => 100, :align => "center") %>
                      </div>    
                  <% else %>
                      <div style="text-align: center;"> 
                          <%= image_tag("tienda.jpg", :width => 100, :height => 100, :align => "center") %>
                      </div>
                  <% end %>
                </div>
                <div style="text-align: center;"> 
                    <h3><%= @store.name %></h3>
                    <hr>
                </div>
                
                <div style="text-align: center;"> 
                    <h5><%= @store.address %></h5>
                    <hr>
                </div>
                
                <div style="text-align: center;"> 
                    <h5><span class="glyphicon glyphicon-envelope"></span> <%= @store.email %></h5>
                    <hr>
                </div>
                
                <div style="text-align: center;"> 
                    <h5><span class="glyphicon glyphicon-phone-alt"></span> <%= @store.phone %></h5>
                    <hr>
                </div>

                <div style="text-align: center;"> 
                <% if user_signed_in? and current_user.store.id == @store.id %>
                  <%= link_to '<span class="glyphicon glyphicon-plus"></span> Publicar Oferta'.html_safe ,new_store_offer_path(@store) %>
                </div>

                <div style="text-align: center;"> 
                    <% if @store.location == nil %>
                        <hr>
                        <%= link_to '<span class="glyphicon glyphicon-globe"></span> Agregar en el mapa'.html_safe, new_store_location_path(@store) %>
                    <% end %>
                    <hr>
                </div>

                <div style="text-align: center;"> 
                   <%= link_to'<span class="glyphicon glyphicon-pencil"></span> Editar perfil'.html_safe,edit_store_path(@store) %>
                </div>

                <div style="text-align: center;"> 
                    <%if @store.location != nil%>
                    <hr>
                        <%= link_to '<span class="glyphicon-flag"></span> Ver ubicacion'.html_safe,store_location_path(@store,@store.location.id) %>
                    <% end%>
                </div>    
                
                <% end %>

            </div> 
        </div>
      </div>
    </div>

   <div class="col-md-8">
          <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"> <%= @offer.title %> </h2>
                </div>
                <div class="panel-body">
                    <div class="col-md-2"> 
                      <figure>

                          <%if @offer.picture.present?  %>
                              <div style="text-align: center;"> 
                                  <%= image_tag(@offer.picture_url, :width => 100, :height => 100) %>
                              </div>    
                          <% else %>
                              <div style="text-align: center;"> 
                                  <%= image_tag("comida.jpg", :width => 100, :height => 100) %>
                              </div>
                          <% end %>
                      </figure>
                    </div>
                    
                    <div class="col-md-10"> 
                    <div >
                        <%= @offer.description %>
                        <br>
                        <h4 style="text-align:right"><%= @offer.valid_until %></h4>
                    </div>
                    </div>
                </div>
              </div>
            </div>    
    </div>
  </div>
</div>

