<p id="notice"><%= notice %></p>

<p>
<%= image_tag(@offer.picture_url, :width => 100, :height => 100) if @offer.picture.present? %>
</p>
<p>
  <%= @offer.title %>
</p>
<p>
  <%= @offer.description %>
</p>

<p>
  <%= @offer.valid_until %>
</p>

