<%= form_for([@store,@location], :html => {:multipart => true}) do |f| %>
  <div class="form-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <%= f.text_field :latitude, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <%= f.text_field :longitude, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :store_id, :class => 'control-label' %>
    <%= f.number_field :store_id, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                store_path(@store), :class => 'btn' %>
  </div>
<% end %>
