<div class="page-header">
  
</div

<%= form_for([@store,@location], :html => {:multipart => true}) do |f| %>
<div class="container theme-showcase">
      <div class="col-md-4  ">
        <div class="panel panel-default">
          <div class="panel-heading">
              <div class="panel-body roundgrey centertext">
                <figure>
                  <dd><%= image_tag(@store.avatar_url, :width => 200, :height => 200) if @store.avatar.present? %></dd>
                </figure>
                <dd><%= @store.name %></dd>
                <dd><%= @store.address %></dd>
                <dd><span class="glyphicon glyphicon-envelope"></span> <%= @store.email %></dd>
                <dd><span class="glyphicon glyphicon-phone-alt"></span> <%= @store.phone %></dd>
                <% if user_signed_in? and current_user.store.id == @store.id %>
                  <%= link_to '<span class="glyphicon glyphicon-plus"></span> Publicar Oferta'.html_safe ,new_store_offer_path(@store) %>
                  <br>
                  <%= link_to'<span class="glyphicon glyphicon-pencil"></span> Editar perfil'.html_safe,edit_store_path(@store) %>
                  <br>
                <% end %>
    
                <%= link_to t('.back', :default => t("helpers.links.back")),
                            stores_path, :class => 'btn'  %>
            </div> 
        </div>
      </div>
    </div>
    <div class="col-md-8  ">
      <%= image_tag "https://maps.google.com/maps/api/staticmap?size=700x480&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
    </div>
<% end %>